node_modules/

# Hugo-related files 
detectives-website/public/
/resources/_gen/
/assets/jsconfig.json 
hugo_stats.json 
./hugo_build.lock

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
